# env
# Telegram Bot 配置
TELEGRAM_BOT_TOKEN=7202447754:AAEqFbGZMwRo0PiTGwwaNvMWS_Bz1_ERYW4
# Deepseek API 配置
DEEPSEEK_API_URL=your_Deepseek_api_key_here
ARK_API_KEY=your_ark_api_key_here
DEEPSEEK_MODEL=deepseek-r1-250120
# Groq API 配置
GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL=mixtral-8x7b-32768
# 数据库配置
DATABASE_FILE=bot.db
# 日志配置
LOG_FILE=bot.log
LOG_LEVEL=INFO
# 其他配置
MAX_HISTORY_ROUNDS=5
